nav {
  width: 97vw;
  /* width: 94%; */
  height: 49px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 1.5%;
  padding-right: 1.5%;
  background-color: white;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dadce0;
}
.logo--container {
  width: 20%;
  margin-left: 25px;
}

a img {
  width: 100%;
}

.search-container {
  width: 63.5%;
  height: 100%;

  display: flex;
  align-items: center;
}
.search-container img {
  width: 100%;
}
.search-container_input {
  width: 60%;
  height: 48px;
  margin-right: 15%;
  margin-left: 5%;

  display: flex;
  align-items: center;
  background: var(--color-gray);
  border-radius: 8px;
  padding: 0 10px;
}
.search-container_input input {
  background-color: var(--color-gray);
  outline: none;
  border: none;
  width: 100%;
}
.icon-searh,
.icon-container {
  width: 48px;
  height: 48px;
  margin-left: 2%;
  margin-right: 2%;
  background: transparent;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container:hover {
  background-color: var(--color-gray_three);
}

.icon-searh {
  width: 30px;
  height: 30px;
}

.user--container {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.button-container {
  width: 15%;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}
