.ModalBackground {
  width: 328px;
  height: 92px;
  border-radius: 8px;
  background: rgb(255 255 255);
  position: fixed;
  left: 25px;
  bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
}

.ModalBackground h2,
.ModalBackground p {
  margin: 0;
  padding: 0;
}

.ModalBackground p {
}
.ModalBackground h2 {
  color: black;
}
